# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables (General)
*.exe
*.out
*.app

# Build directories (Standard for CMake)
[Bb]uild/
bin/
obj/

# VS Code specific
.vscode/
.history/
*.code-workspace

# LLVM/Clang specific
.clangd/
.cache/
compile_commands.json